.initials-circle {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 32px;
  border-radius: 50%;
  background-color: #6c757d;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
}

.username {
  font-size: 1rem; /* Adjust the size as needed */
  font-weight: bold;
}
/* Inside your component's CSS file or your global stylesheet */
.custom-dropdown {
  width: 600px; /* Adjust to your desired width */
  max-height: 500px; /* Adjust to your desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
