<div class="container">
  <h2>My Services</h2>
<!--  <button class="btn btn-primary mb-3" (click)="navigateToAddService()">Add New Service</button>-->
  <div id="external-events" class="mb-3">
    <h4>Draggable Events</h4>
    <div class='external-event'>Service 1</div>
    <div class='external-event'>Service 2</div>
    <div class='external-event'>Service 3</div>
    <p>
      <input type="checkbox" id="drop-remove" />
      <label for="drop-remove">Remove after drop</label>
    </p>
  </div>
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
