.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  font-size: 1.32rem;

}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
  color: #fff;
}
.btn-danger {
  font-size: 1.32rem !important;

}
