  <div class="card bg-light d-flex flex-fill">
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-7">
          <br>
          <h2 class="lead"><b>{{ seller.firstName}} {{seller.lastName}}</b></h2>
          <ul class="ml-4 mb-0 fa-ul text-muted">
            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>Email: {{seller.email}}</li>
            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>Phone number: {{seller.phoneNumber}}</li>
            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-home"></i></span>Dorm: Camin P6</li>
          </ul>
        </div>

        <div class="col-5 text-center">
          <div class="seller-avatar">
            <span>{{ seller.firstName.charAt(0) }}{{ seller.lastName.charAt(0) }}</span>
          </div>
        </div>

      </div>
    </div>
    <br><br>
    <div class="card-footer">
      <div class="text-right">
        <br>
        <a href="/chat" class="btn btn-sm bg-teal">
          <i class="fas fa-comments"></i> Chat with seller
        </a>
        <a href="#" class="btn btn-sm btn-primary">
          <i class="fas fa-user"></i> View Profile
        </a>
      </div>
    </div>
    <div class="card-footer">
      <div class="text-right">
      <span class="close-button" (click)="closeDialog()">
        <i class="fas fa-times"></i> <!-- Font Awesome X icon -->
      </span>
      </div>
    </div>
  </div>


<!-- Close button -->

