<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Marketplace</h1>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <img [src]="product.imageSrc" *ngIf="product.imageSrc" class="card-img-top" alt="Product Image">
          <div class="card-header">
            <h5 class="card-title">{{ product.name }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>
            <p class="card-text"><strong>Contact Info:</strong> {{ product.contactInfo }}</p>
            <a [routerLink]="['/product-details', product.id]" class="btn btn-info">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
