<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>My Products</h1>
      </div>
      <div class="col-sm-6">
        <button (click)="addNewProduct()" class="btn btn-primary float-right">Add New Product</button>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <img [src]="product.imageSrc" *ngIf="product.imageSrc" class="card-img-top" alt="Product Image">
          <div class="card-header">
            <h5 class="card-title">{{ product.name }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text"><strong>Price:</strong> {{ product.price }} RON</p>
            <p class="card-text"><strong>Dorm:</strong> {{ product.dorm }}</p>
            <p class="card-text"><strong>Status:</strong> {{ product.status }}</p>
            <a [routerLink]="['/edit-product', product.id]" class="btn btn-info">Edit Product</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
