@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

/* Adjust content wrapper based on sidebar state */
.content-wrapper {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-mini.sidebar-collapse .content-wrapper {
  margin-left: 80px;
}

@media (max-width: 768px) {
  .content-wrapper {
    margin-left: 0;
  }

  .sidebar-mini.sidebar-collapse .content-wrapper {
    margin-left: 0;
  }
}

.wrapper .main-header {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-mini.sidebar-collapse .wrapper .main-header {
  margin-left: 80px;
}

@media (max-width: 768px) {
  .wrapper .main-header {
    margin-left: 0;
  }

  .sidebar-mini.sidebar-collapse .wrapper .main-header {
    margin-left: 0;
  }
}
