<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Auction Details</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Auction Details</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card card-solid" *ngIf="auction">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="col-12">
            <img [src]="imageSrc" *ngIf="imageSrc" class="product-image img-fluid" alt="Product Image">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h2 class="auction-title">{{ auction.product.name }}</h2>

          <hr>
          <div class="auction-details">
            <h4><span class="label">Description:</span> {{ auction.product?.description }}</h4>
            <h4><span class="label">Starting Price:</span> {{ auction.startPrice }} RON</h4>
            <h4><span class="label">End Date:</span> {{ auction.endDate | date:'medium' }}</h4>
            <div class="bg-gray py-2 px-3 mt-4">
              <h2 class="mb-0">
                Highest Bid: {{ auction.currentHighestBid ? auction.currentHighestBid.amount + ' RON' : 'No bid yet' }}
              </h2>
            </div>
          </div>

          <div class="mt-4 text-center">
            <button mat-button class="btn btn-success btn-lg btn-block btn-flat" (click)="placeBid()">
              <i class="fas fa-gavel fa-lg mr-2"></i>
              Bid
            </button>
          </div>

          <div class="mt-4 d-flex justify-content-around">
            <button mat-button class="btn btn-primary btn-lg btn-flat" (click)="openContactSellerPopup()">
              <i class="fas fa-envelope fa-lg mr-2"></i>
              Contact Seller
            </button>

            <button class="btn btn-default btn-lg btn-flat">
              <i class="fas fa-heart fa-lg mr-2"></i>
              Add to Wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
