<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Auction Details</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Auction Details</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card card-solid" *ngIf="auction">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none">{{ auction.product.name }}</h3>
          <div class="col-12">
            <img [src]="imageSrc" *ngIf="imageSrc" class="product-image" alt="Downloaded Image">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="my-3">{{ auction.product.name }}</h3>
          <p>{{ auction.product?.description }}</p>

          <hr>
          <h4 class="mt-3">Starting Price: ${{ auction.startPrice }}</h4>
          <h4 class="mt-3">End Date: {{ auction.endDate | date:'mediumDate' }}</h4>

          <div class="bg-gray py-2 px-3 mt-4">
            <h2 class="mb-0">
              Highest Bid: {{ auction.currentHighestBid ? auction.currentHighestBid : 'No bid yet' }}            </h2>
          </div>

          <div class="mt-4">
            <button mat-button class="btn btn-primary btn-lg btn-flat" (click)="openContactSellerPopup()">
              <i class="fas fa-envelope fa-lg mr-2"></i>
              Contact Seller
            </button>

            <button mat-button class="btn btn-success btn-lg btn-flat" (click)="placeBid()">
              <i class="fas fa-gavel fa-lg mr-2"></i>
              Bid
            </button>

            <div class="btn btn-default btn-lg btn-flat">
              <i class="fas fa-heart fa-lg mr-2"></i>
              Add to Wishlist
            </div>
          </div>


        </div>
      </div>

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
