<div class="row">
  <div class="col-12 text-center">
    <h4 class="d-flex align-items-center title-logo-container">
      <img src="assets/img/logo.jpg" alt="Logo" class="logo-image">
      <span>Dorm MarketPlace</span>
    </h4>
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Search">
      <button class="btn btn-primary" type="button">Search</button>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-12 text-center">
      <h4>Main Categories</h4>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="category-card text-center m-3">
          <i class="fas fa-tv fa-2x mb-2"></i>
          <h5>Electronics</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-couch fa-2x mb-2"></i>
          <h5>Furniture</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-chalkboard-teacher fa-2x mb-2"></i>
          <h5>Tutoring Services</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-tshirt fa-2x mb-2"></i>
          <h5>Fashion</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-gavel fa-2x mb-2"></i>
          <h5>Auctions</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-blender fa-2x mb-2"></i>
          <h5>Appliances</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-broom fa-2x mb-2"></i>
          <h5>Cleaning Services</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-dog fa-2x mb-2"></i>
          <h5>Pet sitting</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-car fa-2x mb-2"></i>
          <h5>Car Rides</h5>
        </div>
        <div class="category-card text-center m-3">
          <i class="fas fa-magic-wand-sparkles fa-2x mb-2"></i> <!-- Beauty category icon -->
          <h5>Beauty</h5>
        </div>
        <!-- Add more categories as needed -->
      </div>
    </div>
  </div>
